<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:property-placeholder
		location="classpath*:properties/database.properties" />

	<bean id="dataSourceForOracle"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.oracle.driver}" />
		<property name="url" value="${db.oracle.url}" />
		<property name="username" value="${db.oracle.username}" />
		<property name="password" value="${db.oracle.password}" />
	</bean>

	<bean id="sessionFactoryForOracle"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceForOracle" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${db.oracle.dialect}</prop>
				<prop key="hibernate.show_sql">${db.oracle.show_sql}</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.app.dhsloader.model</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManagerForOracle"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryForOracle"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManagerForOracle" />

</beans>